{{- define "numbering" -}}

{{ $numberOnly := .NumberOnly }}
{{ $currentPage := .Page }}
{{ $site := .Page.Site }}

{{ $bookSection := default "docs" $site.Params.BookSection  }}
{{ if eq $bookSection "*" }}
  {{ $bookSection = "/" }}{{/* Backward compatibility */}}
{{ end }}

{{ $rootPage := $site.GetPage $bookSection }}

{{ range $index, $page := $rootPage.Pages }}

    {{ if eq $page $currentPage }}

        {{ if $numberOnly }}

            {{ printf "%d. " $index }}

        {{ else }}

            {{ printf "Chapitre %d. " $index }}

        {{ end }}

    {{ end }}

{{ end }}


{{- end -}}
