{{- define "render_line" -}}

    {{ $params := . }}

    {{ $line := $params.Get "line" }}

    {{ $currentShortcode := $params.Get "currentShortcode" }}

    {{ if not (eq $currentShortcode "") }}

        {{ $closingCurrent := findRE "^([^%]|[^%][^}]|[^%][^}][^}])*%}}" $line }}

        {{ if $closingCurrent }}

            {{ $closingCurrent = index $closingCurrent 0 }}

            {{ $line = replace $line $closingCurrent "" }}

            {{ $currentShortcode = printf "%s %s" $currentShortcode $closingCurrent }}

            {{ $params.Set "shortcode" $currentShortcode }}

            {{ template "parse_and_render_shortcode" $params }}

            {{ $currentShortcode = "" }}

            {{ $params.Set "currentShortcode" $currentShortcode }}

        {{ else }}

            {{ $line = replace $line "\n" " " }}

            {{ $currentShortcode = printf "%s %s" $currentShortcode $line }}

            {{ $params.Set "currentShortcode" $currentShortcode }}

        {{ end }}

    {{ end }}

    {{ if eq $currentShortcode "" }}

        {{ $closedShortcodes := findRE "([^{]|[^{][^{]|[^{][^{][^%])*{{%([^%]|[^%][^}]|[^%][^}][^}])*%}}" $line }}

        {{ range $closedShortcode := $closedShortcodes }}

            {{ $line = replace $line $closedShortcode "" }}

            {{ $params.Set "shortcode" $closedShortcode }}
                
            {{ template "parse_and_render_shortcode" $params }}

        {{ end }}

        {{ $opennedShortcode := findRE "([^{]|[^{][^{]|[^{][^{][^%])*{{%.*$" $line }}

        {{ if $opennedShortcode }}

            {{ $opennedShortcode = index $opennedShortcode 0 }}

            {{ $opennedShortcode = replace $opennedShortcode "\n" " " }}

            {{ $currentShortcode = $opennedShortcode }}

            {{ $params.Set "currentShortcode" $currentShortcode }}

        {{ end }}

    {{ end }}

    {{ if eq $currentShortcode "" }}

        {{ $line | safeHTML }}
        {{ "\n" | safeHTML }}

    {{ end }}

{{- end -}}
