{{- define "title" -}}
    {{ $params := . }}
    {{ $title := $params.Get "title" }}
    {{ $titleLevel := $params.Get "title-level" }}

    {{ $line := "" }}

    {{ if not (eq $title "" ) }}
        {{ range $i := (seq $titleLevel) }}
            {{ $line = printf "#%s" $line }}
        {{ end }}
        {{ $line = printf "%s %s" $line $title }}
        {{ $params.Set "currentShortcode" "" }}
        {{ $params.Set "line" $line }}
        {{ template "render_line" $params }} 
    {{ end }}

{{- end -}}
