{{ $numberOnly := .NumberOnly }}
{{ $targetPage := .Page }}
{{ $site := .Page.Site }}

{{ $bookSection := default "docs" $site.Params.BookSection  }}
{{ if eq $bookSection "*" }}
  {{ $bookSection = "/" }}{{/* Backward compatibility */}}
{{ end }}

{{ $rootPage := $site.GetPage $bookSection }}

{{ template "buildAndPrintNumberSlice" (dict "CurrentSection" $rootPage "TargetPage" $targetPage "NumberSlice" (slice) "NumberOnly" $numberOnly "CurrentLevel" 1) }}

{{ define "buildAndPrintNumberSlice" }}
    {{ $currentSection := .CurrentSection }}
    {{ $targetPage := .TargetPage }}
    {{ $numberSlice := .NumberSlice }}
    {{ $currentLevel := .CurrentLevel }}
    {{ $numberOnly := .NumberOnly }}

    {{ range $index, $page := where (where $currentSection.Pages "Params.BookHidden" "ne" true) "Params.BookNumbered" "ne" false }}

        {{ $index = add $index 1 }}

        {{ if eq $page $targetPage }}

            {{ $numberSlice = $numberSlice | append $index }}

            {{ template "printNumberSlice" (dict "CurrentLevel" $currentLevel "NumberSlice" $numberSlice "NumberOnly" $numberOnly) }}

        {{ else if $page.IsAncestor $targetPage }}

            {{ $numberSlice = $numberSlice | append $index }}

            {{ $currentLevel = add $currentLevel 1 }}

            {{ template "buildAndPrintNumberSlice" (dict "CurrentSection" $page "TargetPage" $targetPage "NumberSlice" $numberSlice "NumberOnly" $numberOnly "CurrentLevel" $currentLevel) }}

        {{ end }}

    {{ end }}

{{ end }}

{{ define "printNumberSlice" }}

    {{ $numberSlice := .NumberSlice }}
    {{ $currentLevel := .CurrentLevel }}
    {{ $numberOnly := .NumberOnly }}

    {{ $numberString := printf "%s" (delimit $numberSlice ".") }}

    {{ if $numberOnly }}

        {{ printf "%s. " $numberString | safeHTML }}

    {{ else }}

        {{ if eq $currentLevel 1 }}

            {{ printf "Chapitre %s: " $numberString | safeHTML }}

        {{ else if eq $currentLevel 2 }}

            {{ printf "Section %s: " $numberString | safeHTML }}

        {{ end }}

    {{ end }}

{{ end }}
